<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body class="theme-base-0c layout-reverse">

  {% include sidebar.html %}

  <div class="content container">
    {{ content }}
  </div>

  <script type="text/javascript">
    var sc_project = 11277783;
    var sc_invisible = 1;
    var sc_security = "4f17ba34";
  </script>
  <script type="text/javascript"
          src="https://www.statcounter.com/counter/counter.js"
          async></script>
  <noscript>
    <div class="statcounter">
      <a title="Web Analytics"
         href="http://statcounter.com/"
         target="_blank">
        <img class="statcounter"
             src="//c.statcounter.com/11277783/0/4f17ba34/1/"
             alt="Web
        Analytics">
      </a>
    </div>
  </noscript>

</body>

</html>
